[submodule "pack/default/start/async.vim"]
	path = pack/default/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/default/start/vim-lsp"]
	path = pack/default/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/default/start/vim-lsp-settings"]
	path = pack/default/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "pack/default/start/gruvbox"]
	path = pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/default/start/nerdtree"]
	path = pack/default/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/default/start/vim-gitgutter"]
	path = pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/default/start/vim-surround"]
	path = pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/default/start/vim-indent-guides"]
	path = pack/default/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "pack/default/start/asyncomplete.vim"]
	path = pack/default/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/default/start/asyncomplete-lsp.vim"]
	path = pack/default/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/default/start/vim-expand-region"]
	path = pack/default/start/vim-expand-region
	url = https://github.com/landock/vim-expand-region
[submodule "pack/default/start/vim-airline"]
	path = pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/default/start/vim-airline-themes"]
	path = pack/default/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/default/start/vim-lsp-icons"]
	path = pack/default/start/vim-lsp-icons
	url = https://github.com/mattn/vim-lsp-icons
[submodule "pack/default/start/vim-repeat"]
	path = pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/default/start/vim-precious"]
	path = pack/default/start/vim-precious
	url = https://github.com/osyo-manga/vim-precious
[submodule "pack/default/start/context_filetype.vim"]
	path = pack/default/start/context_filetype.vim
	url = https://github.com/Shougo/context_filetype.vim
[submodule "pack/default/start/vim-yaml"]
	path = pack/default/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "pack/default/start/vim-commentary"]
	path = pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
